:root {
    --primario: #ff691f;
    --secundario:#ffb65c;
    --terciario:#ffe680;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/* el "*" permite que cualquier clase que uno de sus nombres termine en contenedor se le aplique el estilo*/
/*el "$" es cuando el nombre de la clase termine en contenedor*/
[class*="contenedor"]{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
[class$="heading"]{
    text-align: center;
    color: var(--primario);
    font-size: 4rem;
    font-weight: 800;
    margin: 5rem 0;
}
/*header*/

.header{
    background-image:linear-gradient(to right ,rgb(0 0 0 / .7),rgb(0 0 0 /  .7)),url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding:5rem 0;
    position: relative;
}
.header__logo{
    width: 30rem;
}
.header__barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .header__barra{
        flex-direction: row;
    }
}
/*solo aparecera cuando el viewport es min de 992px*/
.header__guitarra{
    display: none;
}
@media (min-width: 992px) {
    .header__guitarra{
        display: block;
        /*el absolute es para que se posisicone en  funcion de su contenedor que no sea static(por defecto), en este caso header ; ese header por eso lo ponemos relative */
        position: absolute;
        /*posicionamos la imagen*/
        right: 0;
        bottom: 0;
        /*animamos la imagen*/
        animation-duration:1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name:animacionImagen;
        /*tambien*/
        /* animation: 1s ease-in-out 0s 1 animacionImagen; */
    }
}
/*animacion para la guitarra*/
@keyframes animacionImagen{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    50%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }

}

.carrito{
    width: 5rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 7rem;
}
/* .header__carrito #carrito{
    display: none;
} */
.carrito__table{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    right: 6rem;
}
/* Tabla */
table{
    border-collapse: collapse;
}
th,
td {
  padding: 5px 9px;
  border-bottom: 1px solid #E1E1E1; 
}
.carrito__vaciar{
    all: unset;
    width: 100%;
    background-color: #ffb65c;
    color: var(--blanco);
    text-align: center;
    border: 1px solid rgba(117, 116, 116, 0.516);
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.delete-product{
    background-color: red;
    padding: 5px 10px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navegacion{
    display: flex;
    gap: 2rem;
    margin-top:4rem ;
    /*para que la navegacion este encima de la imagen*/
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
    .navegacion{
        margin-top: 0;
    }
}
.navegacion__enlace{
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    /*para que el hover sea un poco más lento al pasar a otro boton*/
    transition-property:background-color ;
    transition-duration: .5s;
}
.navegacion__enlace:hover{
    background-color: var(--secundario);
}
.modelo{
    color: var(--blanco);
    text-align: center;
}
@media (min-width: 768px) {
    .modelo{
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}
.modelo__nombre{
    font-size: 7rem;
}
.modelo__costo{
    color:var(--secundario);
    font-size: 5rem;
    font-weight: 900;
    margin: 3.5rem 0;
}
.modelo__enlace{
    all: unset;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    border: 2px solid var(--secundario);
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    width: 20%;
    text-align: center;
    transition-property:background-color ;
    transition-duration: 0.4s;
}
.modelo__enlace:hover{
    background-color: var(--secundario);
}
/*coleccion guitarras*/
.guitarras__grid{
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px) {
    .guitarras__grid{
        grid-template-columns:repeat(2 , 1fr);
        gap:1.5rem;
    }
}
@media (min-width: 1200px) {
    .guitarras__grid{
        grid-template-columns: repeat(3 ,1fr);
    }
}
.guitarra{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem;
    align-items: center;
}
.guitarra__nombre{
    text-transform:uppercase ;
    font-size: 4rem;
    font-weight: 800;
}
.guitarra__descripcion{
    font-weight: 550;
}
.guitarra__costo{
    color:var(--primario);
    font-size: 6rem;
    font-weight: 900;
    margin: 0.5rem;
}
.guitarra__enlace{
    all: unset;
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem 5rem;
    text-align: center;
    border: 2px solid var(--primario);
    transition-property:background-color ;
    transition-duration: .5s;
    cursor: pointer;
}
.guitarra__enlace:hover{
    background-color: var(--secundario);
    color: var(--blanco);
}

.guitarra__label{
    font-size: 2rem;
    margin-right: 1rem;
}
.guitarra__cantidad{
    border: 2px solid var(--primario);
    padding: 1rem;
    text-align: center;
}
/*cuando se elige una cantidad se cambia el color de borde por uno de por defecto ,entonces utilizamos la pseudoclase focus-visible para cambiarlo*/
.guitarra__cantidad:focus-visible{
    /*quitamos el borde para q en este caso no se duplique*/
    border: none;
    /*damos color al nuevo borde(en el caso se le llama outline)*/
    outline: 2px solid var(--primario);
}
.guitarra__agregar-carrito{
    all: unset;
    display: block;
    background-color: var(--terciario);
    color: var(--blanco);
    margin-top: 4rem;
    padding: 2rem 4rem;
    border:2px solid var(--terciario);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .3s;
}
.guitarra__agregar-carrito:hover{
    background-color: var(--secundario);
    cursor: pointer;
}
.guitarra__comprar-ahora{
    all: unset;
    display: block;
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: 2rem;
    padding: 2rem 6.2rem;
    border:2px solid var(--terciario);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .3s;
}
.guitarra__comprar-ahora:hover{
    background-color: var(--primario);
    cursor: pointer;
}
/*curso*/
.cursos{
    margin:4rem auto ;
    background-image: linear-gradient(to right ,rgb(0 0 0 / .65),rgb(0 0 0 /  .65)), url(../img/cursos_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 10rem 0 ; /*para estirar la imagen*/
      
}
.cursos__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .cursos__grid{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 2rem;
    }
    .cursos__contenido{
        grid-column: 2 / 3;
    }
}
.cursos__descripcion{
    color: var(--blanco);
    text-align: center;
    font-size: 3rem;
}
.cursos__enlace{
    all: unset;
    /*para al poner margenes funcione pero que solo ocupe su lugar*/
    display: inline-block;
    border:2px solid var(--primario);
    padding: 1rem 4rem;
    margin: 2rem auto;
    text-transform: uppercase;
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 700;
    transition-property:background-color ;
    transition-duration: .3s;
    cursor: pointer;
}
.cursos__enlace:hover{
    background-color: var(--secundario);
}
/*blog*/
.blog__grid{
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px) {
    .blog__grid{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media (min-width: 992px) {
    .blog__grid{
        grid-template-columns: repeat(4 , 1fr);
    }
    .blog__grid--pagina{
        grid-template-columns: repeat(3 , 1fr);
    }
}
.entrada{
    max-width: 80rem;
    /*centramos el contenido del archivo entrada.html*/
    margin: 0 auto;
}
.entrada__contenido{
    margin: 0 2rem;
    font-weight: 500;
}
.entrada__titulo{
    font-size: 400;
    font-size: 2.8rem;
    line-height: 1.2;
}
.entrada__fecha{
    color: var(--secundario);
    font-weight: 600;
}
.entrada__enlace{
    all: unset;
    color: var(--negro);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem 0;
    border: 2.5px solid var(--secundario);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
} 
.entrada__enlace:hover{
    background-color: var(--primario);
    color: var(--blanco);
}
/*para no mostrar toda la descripcion solo algunas lineas*/
.entrada__descripcion{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 4; /*lineas a mostrar*/
    line-clamp: 4; /*lineas a mostrar*/
    overflow: hidden;/*para que ya no muestre las lineas de sobra*/
}
/*footer*/
.footer{
    background-color:var(--negro) ;
    overflow: hidden;
    margin-top:4rem ;
}
.footer__contenido{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    padding: 4rem 0;
    align-items: center;
}
@media (min-width: 768px) {
    .footer__contenido{
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer__navegacion{
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 768px){
    .footer__navegacion{
        flex-direction: row;
        gap: 2rem;
    }
}
.footer__enlace{
    all: unset;
    font-size: 3rem;
    font-weight: 600;
    transition-property:color ;
    transition-duration: .3s;
    cursor:pointer;
}
.footer__enlace:hover{
    color: var(--primario);
}
/*Nosotros*/
.nosotros__grid{
    display: grid;
    gap: 4rem;
    align-items: center;
}
.nosotros__grid{
    grid-template-columns: repeat(2 , 1fr);
}
.nosotros__imagen{
    border-radius: 30px;
}